.filter-button {
  font-size: 0.8rem;
  padding: 0.5em;
  color: var(--color-black-transparent);
  border: none;
  border-bottom: 0.33em solid transparent;
}
.filter-button.is-active {
  color: var(--color-black);
  border-bottom-color: var(--color-black);
}
