* {
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-white-transparent: hsla(0, 0%, 100%, 0.5);
  --color-black: #191351;
  --color-black-transparent: hsla(245, 60%, 20%, 0.2);

  --color-accent: #fc1266;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.4;
  color: var(--color-black);
}

.input-group input {
  font-size: 1rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 0;
  border-bottom: 0.125rem solid #ccc;
  display: inline-block;
  background: transparent;
}
.input-group input:focus {
  outline: none;
  border-bottom-color: #333;
}
.input-group input::placeholder {
  color: #ccc;
}

.new-todo input {
  display: block;
  font-size: 1.5rem;
  width: 100%;
  max-width: 30rem;
}

.todo-list {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-black-transparent);
  margin: 0;
}
.todo-item label {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.todo-item:first-child {
  border-top: 1px solid #ccc;
}

.todo-item input[type="checkbox"] {
  margin-right: 1rem;
}

.todo-item.completed label {
  text-decoration: line-through;
  color: #ccc;
}

.btn-delete {
  --active-color: var(--color-accent);
  --inactive-color: var(--color-black-transparent);
  font-size: 1.25rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0 0.5rem;
  border: 1px solid transparent;
  color: var(--inactive-color);
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}
.btn-delete:hover {
  border-color: var(--active-color);
  background-color: var(--active-color);
  color: white;
}

.app-bar {
  background: #191351;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0 1ex hsla(0, 0%, 0%, 0.5);
}

.app-bar h1 {
  margin: 0;
  line-height: 1;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5ex;
}

.hero-section {
  --text-color: white;
  --placeholder-text-color: hsla(0, 0%, 100%, 0.5);
  --bg-color: #fc1266;
  padding: 8rem 1rem 6rem;
  background-color: var(--bg-color);
}
.hero-section input {
  color: var(--text-color);
  border-color: var(--placeholder-text-color);
}
.hero-section input:focus {
  border-color: var(--text-color);
}
.hero-section input::placeholder {
  color: var(--placeholder-text-color);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-heading {
  margin: 1rem 0;
  line-height: 1;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5ex;
}
.page-section {
  padding: 1rem;
}
button {
  font-size: 1rem;
  padding: 0.5rem;
  background: transparent;
}
.filter-section {
  display: flex;
}
.filter {
  font-size: 0.8rem;
  padding: 0.5em;
  color: var(--color-black-transparent);
  border: none;
  border-bottom: 0.33em solid transparent;
}
.filter.is-active {
  color: var(--color-black);
  border-bottom-color: var(--color-black);
}
